*{

 margin: 0;
 padding: 0;
 font-family: 'rokkitt', serif;
 box-sizing: border-box;
 background: #000000;
 position: relative;

}

body {
  background: #000000;
  min-height: 100vh;
  margin-left: 85px;
  margin-right: 85px;
  padding: 0;
  display: flex;
  flex-direction: column;

}

.main {
   flex-grow: 1;
}

.header{
  width: 100%;
  background: #000000;
  padding-left: 0%;
  padding-right: 11%;
  margin-left: 50px;
  margin-right: 50px;

}

nav {
  width: 1300px;
  position: sticky;
  overflow: visible;
  z-index: 999;
}

.top-nav{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 30px 0 15px;
 position: sticky;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
  z-index: 999;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #3a3a3a;
  color: #006850;
}

.dropdown:hover {
  text-decoration-color: #3a3a3a;
}

.top-nav ul li{
 list-style: none;
 display: inline-block;
 margin-right: 32px;
 margin-top: 10px;
 margin-bottom: 10px;
 padding-left: 15px;
}

ul {
  color: #18272F;
  position: relative;
  text-decoration: none;
}

.top-nav li:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 5%;
}

.top-nav li:hover::after {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.top-nav ul li a{
 color: #FFFF;
 font-size: 22px;
 font-weight: 600;
 text-decoration: none;
 letter-spacing: 1,5px;
 padding-left: 10px;
 display: block;
}


.top-nav button {
 background: #f7d834;
 color: #000;
 border:0;
 outline: 0;
 border-radius: 28px;
 padding: 15px;
 width: 240px;
 cursor: pointer;
 height: 45px;
 font-weight: 700;
 height: 45px;
 font-size: 18px;
}


.logo {
  top: 0;
  left: 0;
  float:left;
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
}

h1 {
  color: white;
  font-size: 38px;
  font-weight: 900;
}

h2 {
  color: white;
  text-align: center;
  font-size: 20px;
  width: 300px;
}

h3 {
  font-weight: 900;
}

p {
  color: white;
  font-size: 20px;
}

.menukort {
  float: left;
  margin-left: 40px;
  border-bottom: 1px solid white;
  width: 1000px;

}

#pose {
  height: 40px;
  width: 40px;
  float: right;
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  margin-left: 10px;

}

.footer {
   position: fixed;
   bottom: 0;
   width: 1300px;
}

.kolonne {
  float: left;
  width: 25%;
  padding: 50px;
  color: white;
}

.bundtekst {
  line-height: 25px;
  font-size: 16px;
}

.nyheder2 {
  font-size: 16px;
}

.bottom {
  bottom: 0;
  padding: 50px;
  position: static;
  float: left;
  width: 1300px;
}

.apps {
  color: white;
  float: left;
}

.social {
  color: white;
  float: right;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left: 30px;

}

.location {
  color: white;
  float: left;
  width: 1250px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-left: 50px;


}

.undertitel {
  color: white;
  font-size: 30px;
  float: left;
  width: 1135px;
  margin: 0 auto;
}

.undertitel-tekst {
  color: white;
  font-size: 20px;
  float: left;
  width: 1135px;
  margin: 0 auto;
  font-weight: 700;
}

.mobil {
  margin-left: 200px;
  width: 20%;
  background: transparent;
}

.mobiltekst1 {
  position: absolute;
  top: 1880px;
  right: 480px;
  font-weight: 700;

}

.mobiltekst2 {
  color: white;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  top: 1980px;
  right: 110px;
}

.appstore {
  width: 12%;
  position: absolute;
  top: 2060px;
  right: 580px;
}

.googleplay {
  width: 13.7%;
  position: absolute;
  top: 2060px;
  right: 380px;
}

.mobil11 {
  margin-left: 200px;
  width: 20%;
  background: transparent;
}

.mobiltekst11 {
  position: absolute;
  top: 1335px;
  right: 480px;
  font-weight: 700;
  z-index: 9999;

}

.mobiltekst22 {
  color: white;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  top: 1435px;
  right: 110px;
}

.appstore11 {
  width: 12%;
  position: absolute;
  top: 1515px;
  right: 580px;
}

.googleplay11 {
  width: 13.7%;
  position: absolute;
  top: 1515px;
  right: 380px;
}

.sunsetlogo1 {
  width: 11%;
  position: absolute;
  top: 900px;
  right: 15px;
  clear: both;
}


.row {
  margin: 2px -6px;
  margin-bottom: 50px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 0px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
  padding-bottom: 60px;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: transparent;
  padding:0px;

}



/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: transparent;
  cursor: pointer;
  color: white;
  border-right: 1px solid white;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  text-decoration: underline 2px;
  text-decoration-color: grey;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

div#myBtnContainer {
  margin-bottom: 40px;
  text-align: center;
  padding: 0px;
  margin-left: 40px;
  width: 1100px;

}

.content img {
  border-radius: 10px;
  border: solid 0.3px grey;
  height: 270px;
  margin: 10px;

}



/*/knaptekst/*/

button.btn {
  font-size: 20px;
  padding-right:30px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
}

div.content {
  width: 410px;
  height: 320px;
}

div.column.Nyheder.show {
  width: 250px;
  margin-left: 110px;
}


/*/Edvin/*/

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.menu-container img {
  border: 0.009px solid #d1d1d1;
  border-radius: 10px;
}

.menu1 {
  width: calc(33.33% - 20px);
 margin: 10px;
 text-align: center;
}

.menu2 {
  width: calc(33.33% - 20px);
 margin: 10px;
 text-align: center;
}

.menu3 {
  width: calc(33.33% - 20px);
 margin: 10px;
 text-align: center;
}

.menu4 {
  width: calc(33.33% - 20px);
 margin: 10px;
 text-align: center;
}

.menu5 {
  width: calc(33.33% - 20px);
 margin: 10px;
 text-align: center;
}

.menu6 {
  width: calc(33.33% - 20px);
 margin: 10px;
 text-align: center;
}

.menu7 {
  width: calc(33.33% - 20px);
 margin: 10px;
 text-align: center;
}

<!-- Hover fis -->
