*{

 margin: 0;
 padding: 0;
 font-family: 'rokkitt', serif;
 box-sizing: border-box;
 background: #000000;
 position: relative;

}

body {
  background: #000000;
  min-height: 100vh;
  margin-left: 85px;
  margin-right: 85px;
  padding: 0;
  display: flex;
  flex-direction: column;

}

.main {
   flex-grow: 1;
}

.header{
  width: 100%;
  height: 100vh;
  background: #000000;
  padding-left: 0%;
  padding-right: 8%;
  margin-left: 50px;
  margin-right: 50px;

}


.top-nav{

 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 30px 0 15px;

}


.top-nav ul li{
 list-style: none;
 display: inline-block;
 margin-right: 30px;
 margin-top: 10px;
 margin-bottom: 10px;
 padding-left: 15px;

}


.top-nav ul li a{
 color: #FFFF;
 font-size: 20px;
 text-decoration: none;
 font-weight: lighter;
 letter-spacing: 1.5px;
 padding-left: 12px;
}


.top-nav button {
 background: #f7d834;
 color: #000;
 border:0;
 outline: 0;
 border-radius: 28px;
 padding: 15px;
 width: 250px;
 cursor: pointer;
 height: 45px;
 font-size: 20px;
 font-weight: 900;


}



.logo {
  top: 0;
  left: 0;
  float:left;
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
}

nav {
  height: 170px;
  width: 1300px;
}

h1 {
  color: white;
  font-size: 38px;

}


p {
  color: white;
  font-size: 20px;
}

.menukort {
  float: left;
  margin-left: 40px;
  border-bottom: 1px solid white;
  width: 1000px;

}

#pose {
  height: 40px;
  width: 40px;
  float: right;
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}

.footer {
   position: fixed;
   bottom: 0;
   width: 1100px;
}

.column {
  float: left;
  width: 25%;
  padding: 50px;
  color: white;
}

.bundtekst {
  line-height: 25px;
  font-size: 16px;
}

.nyheder {
  font-size: 16px;
}

.bottom {
  bottom: 0;
  padding: 50px;
  position: static;
  float: left;
  width: 1100px;
}

.apps {
  color: white;
  float: left;
}

.social {
  color: white;
  float: right;
}

.location {
  color: white;
  float: left;
  padding-left: 50px;
  width: 1100px;
}

.undertitel {
  color: white;
  font-size: 28px;
  float: left;
  width: 1135px;
  margin: 0 auto;
}

.undertitel-tekst {
  color: white;
  font-size: 16px;
  float: left;
  width: 1135px;
  margin: 0 auto;
  font-weight: 700;
}

.mobil {
  margin-left: 200px;
  width: 20%;
  background: transparent;
}
